<!DOCTYPE html>
<html>

<body>

  <div class="row">
    <!-- start sidebar -->
    <div class="col-md-4">
      
      <h5 class="card-header upper left-bar-color ">
        <i class="fas fa-user-friends"></i>&nbsp; ROOMS
      </h5>


      <p class="card-title ">

        <div class="card-body blue-bar">
          <div class="ui list">
            <div class="item text-center text-white">
              <%= render 'rooms' %>
            </div>
          </div>
        
      </p>

    </div>

  </div>
    <!-- end sidebar -->

    <!-- start chat -->
    <div class="col-md-8 ">
        <h2 class="txt-blue">Welcome to Connected Chat Rooms <i class="far fa-smile-wink"></i></h2>
        <hr />
        <p class="text-teal-400">Choose the topic you interested and enjoy!!</p>
      </div>
    </div>
    <!-- eEnd chat -->
  </div>
</body>

</html>